<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.user.headphones</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/python</string>
    <string>/Users/nicke/media/headphones/Headphones.py</string>
    <string>-q</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
